@use "../styles/reset";
@use "../styles/variables" as *;

body {
  font-family: $font-stack-base;
  font-size: $font-base;
}

h3 {
  font-family: $font-stack-heading;
  font-size: $font-size-heading;
  line-height: 1.0625;
}

button {
  padding: 1.25rem;
  color: $text-base;
  font-size: $font-base;
  font-family: $font-stack-base;
}
